:root {
    --black: #050505;
    --white: #eee;
    --grey:  rgba(255, 255, 255, 0.25);
    --lightgrey:  rgba(255, 255, 255, 0.6);
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/cormorantgaramond-medium.woff2') format('woff2'),
        url('../fonts/cormorantgaramond-medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/cormorantgaramond-mediumitalic.woff2') format('woff2'),
        url('../fonts/cormorantgaramond-mediumitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

html {
    background: var(--black);
    color: var(--white);
}

button:focus {
    outline: 0
}

a {
    text-decoration: none;
    color: var(--white)
}

button {
    background: none;
    border: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 20px;
}

body, button {
    font-family: 'Cormorant Garamond', serif;
    -webkit-font-variant-ligatures: discretionary-ligatures;
    -moz-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

#logo {
    fill: var(--white);
    width: 150px;
    position: fixed;
    margin: 20px 0 0 0;
    z-index: 2;
}

nav {
    display: flex;
    opacity: 0;
    transition: opacity 300ms linear;
    /* margin: 18px 20px 0 0; */
}

nav a, nav button {
    color: var(--white);
    font-size: 2rem;
}

#menuBtn {
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 2;
}

#menuContainer {
    position: fixed;
    right: 50px;
    top: 40px;
    list-style: none;
    margin: 0;
    display: flex;
    z-index: 1;
    transition: visibility 0s, opacity 0.3s linear, right 0.3s linear;
    opacity: 1;
}

#menuContainer li {
    margin: 0 2.5rem 0 0;
}

#menuContainer a, #menuContainer button, #menuBtn {
    cursor: pointer;
}

#menuContainer.hidden {
    visibility: hidden;
    opacity: 0;
    right: 30px;
}

.manifesto {
    font-weight: 400;
    font-size: calc( 32px + (54 - 32) * (100vw - 320px) / ( 840 - 320) );
    line-height: 1.4em;
    margin: calc(50vh - 1.5em) auto;
    color: var(--white);
    cursor: default;
    user-select: none;
}

.manifesto.hidden {
    transition: color 300ms ease-out;
    color: transparent;
}

.manifesto.hidden [data-capture] {
    background-image: none;
}

.manifesto.disabled {
    display: none;
}

@media only screen and (max-width:640px) {
    .hidden [data-capture] {
        pointer-events: none;
    }

    #logo.noFade {
        opacity: 1!important;
    }

    #menuContainer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 120px 0 0 20px;
        height: 100vh;
        background-color: var(--black);
        display: list-item;
        transition: visibility 0s, opacity 0.3s linear;
    }

    #menuContainer li {
        margin: 1.5rem 0;
    }
}

.hidden [data-capture]:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 100%, transparent 100%);
    color: white;
}

[data-capture] {
    background-image: linear-gradient(to right, var(--grey) 100%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 10px 1.5em;
    cursor: pointer;
}

video {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin: 0;
    opacity: .2;
    transition: opacity 300ms linear;
}

.shown {
    opacity: 1;
}

.--emojiglobe {
    object-fit: contain;
}

.--renfe, .--ianimal, .--clubmed {
    object-fit: cover;
}

.visited, nav button:hover, nav a:hover {
    background: url('../img/visitedbg.png');
    background-size: 10px 10px;
}

#eye {
    position:absolute;
    top:0;
    left: 0;
    width: 5vmax;
    height: 5vmax;
    transform: translate(-50%, -50%);
    background-size: contain;
    pointer-events: none;
    box-shadow: 0 0 0 0  rgba(255, 255, 255, 0.15);
    -webkit-animation: pulse 1.5s infinite;
    border-radius: 50%;
}

.invisible {
    display: none;
}

@keyframes pulse {
    0% { 
        transform: translate(-50%, -50%) scale(.9);
        box-shadow: 0 0 0 0px  rgba(255, 255, 255, 0.3); 
    }
    50% { 
        transform: translate(-50%, -50%) scale(1) ;
    }
    100% { 
        transform: translate(-50%, -50%) scale(.9);
        box-shadow: 0 0 0 30px  rgba(255, 255, 255, 0); 
    }
}

@media (min-width: 840px) {
    .manifesto {
        font-size: 54px;
        max-width: 800px;
    }
    .logo {
        margin: 30px 0 0 40px;
    }
    #eye {
        width: 54px;
        height: 54px;
    }
}

@media (max-width: 320px) {
    .logo {
        width: 150px;
    }
    .manifesto {
        font-size: 32px;
    }
    #eye {
        width: 28px;
        height: 28px;
    }
}

.signature {
    margin-top: 90px;
    font-size: 22px;
    line-height: 1.3em;
    color: var(--lightgrey);
}

.signature img {
    width: 60px;
    float: left;
    margin-right: 14px;
    border-radius: 99px;
}

.signature a {
    border-bottom: 0.5px solid var(--lightgrey);
    color: inherit;
}